{% if section.settings.languages %}
    <!-- Header Language -->
    <div class="dropdn dropdn_language">
        <div class="dropdn dropdn_caret">
            <a href="#" class="dropdn-link">ENG</a>
            <div class="dropdn-content">
                <div class="container">
                    <ul>
                        <li><a href="/"><img class="lazyload" data-src="{{ 'en.png' | asset_url }}" alt="English" />English</a></li>
                        <li><a href="/"><img class="lazyload" data-src="{{ 'sp.png' | asset_url }}" alt="Spanish" />Spanish</a></li>
                        <li><a href="/"><img class="lazyload" data-src="{{ 'de.png' | asset_url }}" alt="German" />German</a></li>
                        <li><a href="/"><img class="lazyload" data-src="{{ 'fr.png' | asset_url }}" alt="French" />French</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /Header Language -->
{% endif %}
