<header class="hdr hdr-style-4 {{ header_width }}  {% if section.settings.sticky %}hdr_sticky{% endif %} minicart-icon-style-1 hdr-mobile-style{{ section.settings.style_mobile }}">
    {% include 'topline' %}
    {% include 'mobile-navigation' %}
    {% include 'header-mobile' %}
    <div class="hdr-desktop hide-mobile">
        <div class="hdr-topline {{ style_topbar }}" {% if section.settings.style_topbar_bg %}style="background-color: {{ section.settings.style_topbar_bg }}"{% endif %}>
            <div class="container">
                <div class="row">
                    <div class="col-auto hdr-topline-left">
                        {% include 'header-languages-simple' %}
                    </div>
                    <div class="col-auto hdr-topline-right">
                        <div class="links-holder">
                            {% include 'wishlist-header' onlytext:1 %}
                            {% include 'header-login-form' onlytext:1 %}
                            {% include 'currency-picker' onlytext:1, nocaret:1 %}
                        </div>
                        {% include 'social-media-links' in_header:1 %}
                    </div>
                </div>
            </div>
        </div>
        <div class="hdr-content hide-mobile">
            <div class="container">
                <div class="row">
                    <div class="col-auto logo-holder">
                        {% include 'header-logo' %}
                    </div>
                    <!--navigation-->
                    <div class="prev-menu-scroll icon-angle-left prev-menu-js"></div>
                    <div class="nav-holder">
                        <div class="hdr-nav">
                            {% include 'header-navigation' %}
                        </div>
                    </div>
                    <div class="next-menu-scroll icon-angle-right next-menu-js"></div>
                    <!--//navigation-->
                    <div class="col-auto hdr-content-right">
                        <div class="search-holder">
                            {% include 'header-search' classes:'only-icon' %}
                        </div>
                        <div class="minicart-holder">
                            {% include 'header-cart' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'header-sticky' %}
</header>